.aboutContainer {
  display: flex;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  justify-content: center;
  padding: 10% 5%;

  .aboutCard {
    width: 30%;
    padding: 3%;
    text-align: center;
    color: #3a3a3a;
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.29);
    margin: 0 2%;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    color: #ba3c15;
  }
}

@media (max-width: 750px) {
  .aboutContainer {
    flex-direction: column;
  }
  .aboutContainer .aboutCard {
    width: 90%;
    margin: 5%;
  }
}

.icon {
  width: 38%;
  margin-bottom: 8%;
}
