.mobileFooter {
  display: none;
}

.footerContainer {
  background-color: #3a3a3a;
  height: 120px;
  display: flex;
}

.footerSection1 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSection2 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSection3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 0% 2%;
    font-size: 1rem;
    text-transform: uppercase;
  }
  p {
    margin: 0% 2%;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
  }
  p:hover {
    color: #ba3c15;
  }
  // flex-direction: column;
}

.logoRev {
  width: 50%;
  // margin-left: 20px;
  // margin-top: 30px;
}

.socialIcons {
  width: 15%;
  height: 15%;
}

i.fas,
i.fab {
  color: white;
  font-size: 30px;
  margin: 0 5px;
}

a {
  color: white;
}

@media (max-width: 500px) {
  .footerContainer {
    flex-direction: column;
    height: 220px;
    justify-content: space-evenly;
  }
  .footerContainer .footerSection1 {
    display: none;
  }
  .footerContainer .footerSection2 {
    display: none;
  }
  .footerContainer .footerSection3 {
    display: none;
  }
  .mobileFooter {
    display: flex;
    flex-direction: column;
  }
  .mobileFooter .mobileSection1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }
  .mobileFooter .mobileSection2 {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 12px;
  }
  .mobileFooter .mobileSection2 a {
    margin: 0 5px;
  }
  .mobileFooter .mobileSection3 {
    margin-top: 28px;
    display: flex;
    justify-content: center;
  }
  i.fas,
  i.fab {
    color: #ba3c15;
    font-size: 60px;
    margin: 0 5px;
  }
}
