.hero {
  width: 100%;
  position: relative;
  top: 70px;
}

.search-container {
  position: absolute;
  top: 35%;
  width: 30vw;
  margin: 8%;

  @media (max-width: 750px) {
    top: 30%;
    margin: 2% 4%;
    width: 45vw;
  }
}

.hero-headline {
  position: absolute;
  top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 5vw;
  margin: 8%;
  line-height: -1;

  @media (max-width: 750px) {
    top: 15%;
    margin: 2% 4%;
  }
}

.ant-btn.ant-btn-primary.ant-btn-lg.ant-input-search-button {
  background-color: blue;
  border-color: blue;
}

.ant-btn.ant-btn-primary.ant-input-search-button {
  background-color: #ba3c15;
}
