.searchWrapper {
  width: 100%;
  margin: 3%;
  text-align: center;
  .searchBar {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ececec;
  }
}

button {
  position: absolute;
  padding: 0.4rem;
  width: 40px;
  height: 40px;
  right: 150px;
  border: none;
  background-color: #ba3c15;

  .fas.fa-search {
    position: relative;
    right: 18px;

    color: white;
    font-size: 1.2rem;
  }
}

.search-container {
  display: flex;
  width: 100%;
  height: 85vh;

  margin: auto;
  top: 15%;
}

.groomers-right {
  width: 50%;
  overflow: scroll;
  height: 85vh;
}

.marker-btn {
  background-color: transparent;
}

.business-heading {
  color: #ba3c15;
}

.mapboxgl-popup-content {
  width: 120%;
}

.MuiTypography-root.business-heading.MuiTypography-body1.MuiTypography-alignCenter {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 3%;
}

.marker-results {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    text-align: center;
    border-radius: 50%;
    width: 50%;
  }
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background-color: #9dd4e3;
  width: 100%;
  display: table-row;
}
