.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 110px;

  .logo {
    width: 20%;

    margin: 5%;
  }
  .nav-links {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    top: 7%;

    a {
      font-size: 1rem;
      margin: 0% 3%;
      color: #3a3a3a;
      border: 2px solid white;
    }
    p {
      font-size: 1rem;
      margin: 0% 3%;
      color: #3a3a3a;
      border: 2px solid white;
    }
    a:hover {
      border-bottom: 2px solid #ba3c15;
    }
    p:hover {
      border-bottom: 2px solid #ba3c15;
    }
  }
}

.sign-in-widget {
  margin-top: -20%;
}
